extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat leo ipsum, vel malesuada nisi rhoncus ut. Donec vitae rhoncus justo. Mauris interdum, justo sit amet interdum ullamcorper, elit turpis dignissim justo, quis congue enim leo vel felis.
                p Morbi tempor nec nisl eu convallis. In turpis massa, rutrum at lacus eget, pretium rhoncus magna. Sed a orci nunc. Suspendisse nec odio eu nunc suscipit pellentesque vitae in neque. Sed consectetur pulvinar lacus id lacinia. Quisque eget porta est. Quisque gravida dapibus urna ac ultricies. 
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque-viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 8% de descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 08 de Abril de 2023 - 15 de Abril de 2023
                        p.precio $3520 USD

    .container 
        h2.mt-5.text-center Testimoniales 

        include ./layout/bloque-testimoniales
